asyncpg==0.30.0
alembic==1.14.1
bcrypt==4.2.1
fastapi==0.115.8
uvicorn==0.34.0
pgvector==0.4.1
sentence-transformers==4.1.0
python-multipart==0.0.20
pydantic-settings==2.7.1
pydantic==2.7.1
PyMuPDF==1.25.5
psycopg2==2.9.10
PyJWT==2.10.1
uuid==1.30
websockets==15.0.1
httpx==0.28.1